.black_overlay { 
	display: none; 
	position: absolute; 
	top: 0%; 
	left: 0%; 
	width: 100%; 
	height: 100%; 
	background-color: black; 
	z-index:1001; 
	opacity:.80;
  -moz-opacity: 0.8; 
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80); /* For IE8 and earlier */
} 

.white_content { 
	display: none; 
	position: fixed;
	top: 25%; 
	left: 25%; 
	width: 550px; 
	height: 270px; 
	padding: 16px; 
	background-color: white; 
	z-index:1002; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px;
}
#trig {
	cursor: pointer;
	width: 70px;
}

#closeLightBox{
	position: absolute;
	top: -10px;
	left: 570px;
	cursor: pointer;
}